.cars-service {
    height: fit-content;
    margin: 0 auto;
    position: relative;
    width: 75%;
}

.cars-avail {
    height: auto;
    padding-top: 100px !important;
}

.card {
    box-sizing: border-box !important;
    padding: 15px !important;
    width: 100%;
}

.card>img {
    display: block;
    height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    width: 90%;
}

.cars-form {
    box-shadow: var(--shadowHigh) !important;
    box-sizing: border-box;
    left: 50%;
    padding: 15px !important;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    z-index: 10;
}

.form-item {
    width: 22% !important;
}

.form-item:last-child {
    width: 12% !important;
}

.btn-submit {
    background: #5CB85F !important;
    color: var(--neutral01);
    width: 100%;
}

.btn-submit:hover {
    background: #3D7B3F !important;
    color: var(--neutral01);
}

input:active,
input:focus {
    border-color: var(--limeGreen03) !important;
    box-shadow: none !important;
    outline: 0px !important;
}

.input-group {
    position: relative !important;
}

.input-option {
    bottom: -95px;
    box-shadow: var(--shadowHigh);
    box-sizing: border-box;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.input-item:hover,
.waktu-item:hover {
    background: var(--limeGreen03);
    cursor: pointer;
}

.form-active {
    display: block;
}

.inp-arr {
    cursor: pointer;
    transform: rotate(180deg);
    transition: 0.2s ease;
}

.waktu-form {
    bottom: -305px;
    height: 300px !important;
    overflow-y: scroll;
}

.waktu-form::-webkit-scrollbar {
    width: 10px;
}

.waktu-form::-webkit-scrollbar-track {
    background: var(--limeGreen02);
}

.waktu-form::-webkit-scrollbar-thumb {
    background: var(--limeGreen04);
    border-radius: 10px;
    width: 10px;
}

.clock {
    transition: 0.2s ease;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 768px) {
    .cars-form {
        transform: translate(-50%, -10%) !important;
    }

    .form-item {
        width: 50% !important;
    }

    .form-item:last-child {
        width: 100% !important;
    }

    .cars-avail {
        padding-top: 250px !important;
    }

}