.shadowLow {
    box-shadow: var(--shadowLow);
}

.logoPerusahaan {
    max-width: 100px;
}

/* NAVBAR */
.hero {
    overflow: hidden;
}

.btn-register {
    font-weight: bold;
    border-radius: 2px;
}

.btn-success {
    background: var(--success);
    background: #5CB85F !important;
}

.btn-success:hover {
    background: #3D7B3F !important;
  }

.text-light {
    color: var(--neutral01);
}

.bg-light {
    background: var(--heroColor) !important;
}

/* HERO */
.container-flex:nth-child(2) {
    background: var(--heroColor) !important;
}

.heroSection {
    padding-left: 6%;
}

.hero .row>.col-lg-6:nth-child(2) {
    height: 450px;
    position: relative !important;
}

#hero-bg {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 800px;
    z-index: 1;
}

#sewaText-bg {
    display: none;
}

#hero-fg {
    bottom: 20px;
    position: absolute;
    right: 20px;
    width: 620px;
    z-index: 2;
}

.btn-sewa {
    display: block;
    margin-left: 12px;
    width: 200px;
}

.sewaText {
    font-weight: bold;
}

/* main section  */
.main-section {
    height: 500px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    border-radius: 0px;
    background: #F1F3FF;
    margin-bottom: 75px;

}
.heroPadding{
    margin-top: 166px;
    padding-left:6%;

}
.ImgContainer{
    height: 500px;
    position: relative;
}
.heroImg{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    /* margin-top :166px; */
}
/* end main section  */

/* SERVICE */
ol,ul{
    padding-left: 0rem;
  }
  .listCentang ul { 
    /* Remove default list icon */
    list-style:  none;
    padding:  0;
   }
  
   .listCentang li{
   /* Make sure the text is properly wrpped (not spilling in the image area) */ 
       display: flex;
       margin-bottom:10px;
   }
   .listCentang li:before {
    content:  url(components/images/Group_53.png);
    display:  inline-block;
    vertical-align:  middle;

    /* If you want some space between icon and text: */
    margin-right:   1em;
    }  

/* WHY US */
    .whyus{
        margin-top: 85px;
  }
  .why-us {
      padding-top: 35px;
      padding-bottom: 45px;
  }
  .why-us.content{
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 8px;
      /* margin: auto; */
      padding-left: 10px;
  }
  .mg-b-0 {
      margin-bottom: 0;
  }
  
  .mg-b-35 {
      margin-bottom: 35px;
  }

/* SEWA SECTION */

.sewaSection {
    height: 300px;
}

.bg-primary {
    background: var(--primary) !important;
}

.sewaHeading {
    font-weight: bold;
}

/* TESTIMONIAL */
.testimonialSection {
    flex-direction: column;
}

#info {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#info h2 {
    margin-bottom: 16px;
}

#info p {
    margin-bottom: 24px;
}

.testimonialCutter {
    height: 270px;
    margin: 48px 0;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.testimonialContainer {
    display: flex;
    left: -270px;
    position: absolute;
    transition: left 200ms ease-in;
    width: 5000px;
}


.testimonialContent {
    background: #F1F3FF;
    border-radius: 8px;
    box-shadow: var(--shadowLow);
    display: flex;
    height: 270px;
    margin: 0 48px;
    width: 620px;
}

.testimonialContent:first-child {
    margin-left: 0;
}

.testimonialContent:last-child {
    margin-right: 0;
}

.image {
    margin: auto;
    width: 25%;
}

.image img {
    margin: 0 auto;
}

.description {
    box-sizing: border-box;
    margin: auto;
    padding-right: 32px;
    width: 75%;
}

.description img {
    margin-bottom: 8px;
}

.description p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}

.testimonialCursor {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.toggle {
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

#back {
    border: 1px solid var(--neutral02);
    margin-right: 5px;
    position: relative;
}

#next {
    background: var(--success);
    margin-left: 5px;
    position: relative;
}

#back img {
    left: 5px;
    position: absolute;
    top: 6.5px;
}

#next img {
    left: 12px;
    position: absolute;
    top: 10.5px;
}

/* END TESTIMONIAL */
/* Started */
.started{
    margin:0 auto;
    height: 326px;
}
.started-content{
    background: #0D28A6;
    border-radius: 13px;
    padding: 39px 90px;
}
.mar{
    margin: auto;
}
.started-content h1{
    color:white;
	  font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.started-content p{
    color:white;
}
.started-content button{
	margin-top:35px;
}
.btn-green{
	padding:20px 45px;
	background: #5CB85F;
    border-radius: 2px;
	text-transform:capitalize;
	font-size:15px;
	font-weight:600;
	color:#fff;
				
}
/* End Started */
/* asked question  */
.question {
    margin-top: 110px;
  }
  .accordion .accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 4px !important;
    overflow: hidden;
  }
  .faqImg {
    margin: 2px 0 0 0 !important;
    transform: rotate(-90deg);
}

.question {
    margin: 0 !important;
}

.answer {
    display: none;
}

.question {
    cursor: pointer;
    transition: all 0.2;
}
  /* end asked question  */
/* footer  */
.footer{
    margin-top: 100px;
  }
  .linkFooter{
      display:block;
      text-decoration: none;
      color:black;
      font-weight: bold;
  }
/* end footer  */


@media only screen and (max-width: 1380px) {
    .testimonialContainer {
        left: -340px;
    }
}

@media only screen and (max-width: 1230px) {
    .testimonialContainer {
        left: -425px;
    }
}

@media only screen and (max-width: 1090px) {
    .testimonialContainer {
        left: -480px;
    }
}

@media only screen and (max-width: 1035px) {
    .testimonialContainer {
        left: -515px;
    }
}


@media only screen and (max-width: 1024px) {
    .customBorder {
        height: 250px;
    }
}

@media only screen and (max-width: 800px) {
    .sewaSection {
        z-index: 2;
    }

    .sewaCopy {
        z-index: 2;
    }

    .heroSection {
        position: relative;
    }

    .sm-remove {
        display: none;
    }

    #sewaText-bg {
        bottom: 0;
        display: block;
        position: absolute;
        right: 0;
        width: 800px;
        z-index: 1;
    }

    /* SERVICE */
    .serviceSection,
    .whyUsSection {
        margin-top: 200px !important;
    }

}

@media only screen and (max-width: 780px) {
    .testimonialContainer {
        left: -640px;
    }
}

@media only screen and (max-width: 700px) {
    .testimonialContainer {
        left: -700px;
    }

    .testimonialCutter {
        height: 350px;
    }

    .image {
        align-items: center;
        display: flex;
        height: 80px !important;
        justify-content: center;
    }

    .testimonialContent {
        align-items: center;
        flex-direction: column;
        height: 350px;
        justify-content: center;
    }

    .description {
        padding: 0 !important;

    }

    .description>img {
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .description>p {
        margin: 0 auto !important;
        text-align: center;
        width: 70%;
    }

}

@media only screen and (max-width: 500px) {
    .testimonialContainer {
        left: -770px;
    }
}